<div class="container">	
	<div class="row">
		<div class="col-xs-12">
			<h2>Which non-profit would you like to donate to?</h2>
		</div>
		<div class="col-xs-12">
			<div class="featured">
				<!-- <h4>Featured Local Charities:</h4> -->
				<div class="col-md-6">
					<div class="charity">
						<img src="images/odm.jpg" class="pull-left logo">
						Open Door Mission Omaha Chapter<br/>
						<img src="images/verified-icon.gif" class="verified">
					</div>	
				</div>	
				<div class="col-md-6">		
					<div class="charity">
						<img src="images/nhs.png" class='logo'>
						Nebraska Humane Society<br/>
						<img src="images/verified-icon.gif" class="verified">
					</div>	
				</div>	
				<div class="col-md-6">
					<div class="charity">
						<img src="images/buildinghouse.jpg" class='logo'>
						Omaha Habitat for Humanity<br/>
						<img src="images/verified-icon.gif" class="verified">
					</div>	
				</div>	
			</div>
		</div>
	</div>			
	<div class="row">
	<div class="col-xs-12">
		<div class="search">
			<div>
				<h4>Enter a non-profit's name, or explore non-profits in your area.</h4>
			</div>	
			<div>
			<%= form_tag "search_nonprofits", remote: true, method: :get do %>
				<div class="">
					<%= text_field_tag 'q', '', class: 'typeahead', data: { provide: 'typeahead' }  %>
					<%= link_to "Select", 'submit_choose_charity', class: ['btn btn-primary'] %>
				</div>
				<div class="">
						<br/>
						<%= label_tag "state", "State:" %>
						<%= select_tag "state", options_for_select(us_states, "NE") %>
						<%= label_tag "category", "By Category:" %>
						<%= select_tag "category", options_for_select(nonprofit_types) %>
						<%= submit_tag "Search", class: ["btn btn-primary"] %>
				</div>
			<% end %>
			</div>
		</div>
		<div id="np_search_results">
		</div>

	</div>	

	</div></div>